# Web Framework
fastapi
uvicorn[standard]
python-multipart

# Database (MongoDB)
pymongo
dnspython
certifi

# Security
pydantic
passlib[bcrypt]

# AI & Data Science
google-generativeai
pandas
numpy
scikit-learn
joblib